{% extends "base.html" %}
{% block content %}

<!-- Error 500 -->
<section id="not-found">
	<h2 class="error-text text-center">Oops! Something went wrong!</h2>
	<div id="not-found-500" class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 text-center">
				<h3 class="error">500</h3>
				<h3 class="error-text">we are sorry</h3>
				<h3 class="error-text">but there seems to be an internal issue!</h3>
			</div>
			<div class="text-center" style="margin-top: 2rem!important;">
				<a href="{{ url_for('homepage') }}" class="form-submit">Go Back</a>
			</div>
		</div>
	</div>
</section>

{% endblock %}
