{% extends "base.html" %}
{% block content %}

<!-- Add Post Form -->
<section class="add-post">
    <h2 class="form-title text-center">New Post</h2>
    <div class="container">
        <div class="post-content form-content">
            <form  id="user-form" class="add-post-form" method="POST" 
                        action="{{ url_for('add_post') }}" enctype="multipart/form-data" >
                <div class="form-group">
                    <label for="post_title">Post Title</label>
                    <input type="text" class="form-input" name="post_title" id="post_title" placeholder="What is the name of this place?" required/>
                </div>
                <div class="form-group">
                    <label for="post_content">Post Content</label>
                    <textarea class="form-control post_content" id="post_content" name="post_content" onkeyup="countChars(this);"
                        rows="5" cols="80" minlength="300" maxlength="1500" required placeholder="Tell us all about it!"></textarea>
                    <small id="min-count" class="form-text text-muted ms-auto">Min. 300 - Max. 1500 characters are required<p></small>
                    <p class="text-center counter"><span id="counter">0 characters</span></p>         
                </div>
                <div class="form-group">
                    <label for="post_image" class="file-label">Upload your photo</label>
                    <input type="file" class="input" accept="image/png, image/jpeg, image/jpg" name="post_image" id="post_image" required>
                </div>
                <div class="text-center">
                    <img alt="preview" id="preview" class=" img-rounded img-fluid" width="640" height="450" class="img-thumbnail img-fluid">
                </div>
                <div class="form-group text-center">
                    <label for="post_category">Category</label>
                    <select class="form-input dropdown-item" id="post_category" name="post_category" required>
                            <option selected value="">Please choose a category</option>
                        {% for category in categories %}
                            <option value="{{ category.post_category }}">{{ category.post_category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group text-center">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Submit"/>
                </div>
            </form>
            <p class="redirect">
                Changed your mind ? That's ok! <a href="{{ url_for('homepage') }}" class="redirect-link">Go back to the homepage</a>
            </p>
        </div>
    </div>
</section>




{% endblock %}