{% extends "base.html" %}
{% block content %}

<!-- Admin Dashboard -->
<section class="container" id="dashboard">
    <h4 class="text-center" style="font-size: 2rem!important;">Admin Dashboard</h4>
    <!-- Blog Info Cards -->
    <div class="row justify-content-center">
        <div class="col-md-4 col-xl-3 text-center">
            <div class="card info">
                <div class="card-block">
                    <h1 class="h6">Total Users</h1>
                    <h2 class="text-right"><span>{{ total_users }}</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3 text-center">
            <div class="card info">
                <div class="card-block">
                    <h1 class="h6">Total Posts</h1>
                    <h2 class="text-right"><span>{{ total_posts }}</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3 text-center">
            <div class="card info">
                <div class="card-block">
                    <h1 class="h6">Categories</h1>  
                    <h2 class="text-right"><span>{{ total_categories }}</span></h2>  
                </div>
            </div>
        </div>
        <!-- Registered Users list -->
        <div class="col-lg-12">
            <h3 class="text-center h4" style="font-size: 2rem!important; margin-top: 2rem;">Registered Users</h3>
            <div class="table-responsive">
                <div class="user-table">
                    <table class="table table-dark table-bordered">
                        <thead>     
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Lastname</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Register Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ user.name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.registered }}</td>
                                <!-- Delete User -->
                                <td>
                                    <!-- Button trigger for delete user modal -->
                                    {% if user.username == 'admin'  %}
                                        <p class="text-center">No Actions</p>
                                    {% else %}
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ user._id }}">Delete</button>
                                    {% endif %}
                                    <!-- Modal -->
                                    <div class="modal fade" id="delete-modal-{{ user._id }}" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" style="color: black;" id="delete-modal-{{ user._id }}">Delete User</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                  <p style="color: black;">Are you sure you want to delete {{ user.username }}?</p>
                                                </div>
                                                <div class="modal-footer" id="delete-modal-{{ user._id }}">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <a href="{{ url_for('delete_user', user_id=user._id) }}" class="btn btn-danger">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>  
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Blog Categories -->
        <div class="row justify-content-center py-5">
            <h4 class="text-center" style="font-size: 2rem!important;">Categories</h4>
            <!-- Add Category -->
            <div class="text-center" style="margin-bottom: 3rem!important;">
                <a style="font-size: 1rem!important;" class="form-submit" href="{{ url_for('add_category') }}">Add Category</a>
            </div>
            {% for category in categories %}
            <div class="col-md-4 col-xl-3">
                <div  class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <!-- Categories-->
                            <h3 class="card-title h4">{{ category.post_category }}</h3>
                            <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn btn-secondary">Edit</a>
                            <!-- Button trigger for delete category modal -->
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ category._id }}">Delete</button> 
                            <!-- Modal -->
                            <div class="modal fade" id="delete-modal-{{ category._id }}" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" style="color: black;" id="delete-modal-{{ category._id }}">Delete Category</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <p style="color: black;">Are you sure you want to delete {{ category.post_category }}?</p>
                                        </div>
                                        <div class="modal-footer" id="delete-modal-{{ category._id }}">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Show All Posts on the Blog -->
        <div class="row">
            <h4 class="text-center title" style="font-size: 2rem!important;">Recent Posts</h4>
            {% for post in posts %}
                <div class="col-lg-3 col-md-6 col-sm-3 d-flex justify-content-center align-items-stretch">
                    <div class="card" style="width: 18rem;">
                        <a href="{{ url_for('blog_post', post_id=post._id) }}">
                            <img src="{{ post.post_image }}" class="card-img-top" alt="{{ post.post_title }}">
                        </a>
                        <div class="card-body text-center">
                            <a href="{{ url_for('blog_post', post_id=post._id) }}">
                                <h5 class="card-title">{{ post.post_title }}</h5>
                            </a>
                            <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn btn-secondary">Edit</a>
                            <!-- Button trigger for delete post modal -->
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ post._id }}">Delete</button> 
                            <!-- Modal -->
                            <div class="modal fade" id="delete-modal-{{ post._id }}" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete-modal-{{ post._id }}" style="color: black;">{{ post.post_title }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <p style="color: black;">Are you sure you want to delete this post?</p>
                                        </div>
                                        <div class="modal-footer" id="delete-modal-{{ post._id }}">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <a href="{{ url_for('delete_user_post', post_id=post._id) }}" class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>




{% endblock %}