{% extends "base.html" %}
{% block content %}

<!-- User Profile -->
<section id="profile">
    <div class="container">
        <div class="row">
            <!-- Profile Title-->
            <div class="col-lg-12 text-center">
                <h4>{{ username }}'s Profile</h4>
            </div>
            <!-- Delete user account-->
            <div class="text-center">
                <a href="{{ url_for('delete_account', username=username) }}">Delete Your account!</a>
            </div>
            <!-- Add new post -->
            <div class="text-center">
                <a href="{{ url_for('add_post') }}">Add New Post</a>
            </div>
        </div>
</section>

{% endblock %}