{% extends "base.html" %}
{% block content %}

<!-- User Profile -->
<section id="profile">
    <!-- Profile Title-->
    <h4 class="text-center">Welcome {{ username.title() }}</h4>
    <div class="container">
        <!-- User Posts -->
        <div class="row justify-content-center">
            <h4 class="text-center title" style="margin:1rem 0!important">Your Recent Posts</h4>
            <div class="text-center" style="margin:2rem 0!important">
                <a href="{{ url_for('add_post') }}" class="form-submit" >Add a new post</a>
            </div>
            {% for post in posts %}
                <div class="col-lg-3 col-md-6 col-sm-3 d-flex justify-content-center align-items-stretch">
                    <div class="card" style="width: 18rem;">
                        <a href="{{ url_for('blog_post', post_id=post._id) }}">
                            <img src="{{ post.post_image }}" class="card-img-top" alt="{{ post.post_title }}">
                        </a>
                        <div class="card-body text-center">
                            <a href="{{ url_for('blog_post', post_id=post._id) }}">
                                <h5 class="card-title">{{ post.post_title }}</h5>
                            </a>
                            <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn btn-secondary">Edit</a>
                            <!-- Button trigger for delete post modal -->
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ post._id }}">Delete</button> 
                            <!-- Modal -->
                            <div class="modal fade" id="delete-modal-{{ post._id }}" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" style="color: black;">{{ post.post_title }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <p style="color: black;">Are you sure you want to delete this post?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <a href="{{ url_for('delete_post', post_id=post._id) }}" class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %} 
                <div class="text-center">
                    <p class="question">You dont have any posts yet, Would you like to add one?</p>
                </div>
            {% endfor %}
        </div>
        {% if session.user|lower == 'admin' %}
        <div class="text-center" style="margin:2rem 0!important">
            <a href="{{ url_for('dashboard') }}" class="form-submit" >Go to Dashboard</a>
        </div>
        {% else %}
        <!-- Delete user account model trigger-->
        <div class="text-center" style="margin-top: 4rem; margin-bottom: 1rem;">
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete Your Account</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-modal" style="color: black;">Delete Account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p style="color: black;">Are you sure you want to delete your account?</p>
                    </div>
                    <div class="modal-footer" id="delete-modal">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a href="{{ url_for('delete_account', username=username) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}   
    </div>
</section>

{% endblock %}