{% extends "base.html" %}
{% block content %}

<!-- User Profile -->
<section id="profile">
    <div class="container">
        <div class="row">
            <!-- Profile Title-->
            <div class="col-lg-12 text-center">
                <h4>{{ username }}'s Profile</h4>
            </div>
            <!-- Add new post -->
            <div class="text-center">
                <a href="{{ url_for('add_post') }}">Add New Post</a>
            </div>
            <!-- Delete user account model trigger-->
            <div class="text-center">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete Your Account</button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete-modal" style="color: black;">Delete Category</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p style="color: black;">Are you sure you want to delete your account?</p>
                        </div>
                        <div class="modal-footer" id="delete-modal">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a href="{{ url_for('delete_account', username=username) }}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}